<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headerFragment">
</head>
<body>
<div class="panel panel-default">
    <div th:include="fragments/layout :: secured"></div>
    <div class="panel-heading">
        <strong>Book Creation</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${book}" th:action="@{/book}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('title')}? 'has-error'">
                            <label>Title</label>
                            <input type="text" class="form-control input-sm" th:field="*{title}" maxlength="50" />
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('author')}? 'has-error'">
                            <label>Author</label>
                            <input type="text" class="form-control input-sm" th:field="*{author}" maxlength="50" />
                            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                            <label>Description</label>
                            <input type="text" class="form-control input-sm" th:field="*{description}" maxlength="150" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                <a th:href="@{/}" class="btn btn-sm btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>